<section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="field">

                <label class="label has-text-white">Nome</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label has-text-white">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="seuemail@gmail.com">
                    </div>
                </div>
                
                <div class="field">
                <label class="label has-text-white">Assunto</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Textarea"></textarea>
                </div>
                </div>
                
                <div class="field is-grouped">
                <div class="control">
                    <a href="home" class="button is-link">Enviar</a>
                </div>
                <div class="control">
                    <a href="contato" class="button is-link is-light">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</section>
